* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div#main {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid black;
  height: 50em;
}
div.row1 {
  width: 600px;
  border: 1px solid black;
  height: 10em;
}
div.row2 {
  width: 600px;
  border: 1px solid black;
  height: 5em;
}
div.row3 {
  width: 600px;
  border: 1px solid black;
  height: 35em;
  display: flex;
}
div.row3col1 {
  width: 400px;
  border: 1px solid black;
  height: 35em;
  float: left;
}
div.r3c1sub1 {
  width: 400px;
  border: 1px solid black;
  height: 25em;
}
div.r3c1sub11 {
  width: 175px;
  border: 1px solid black;
  height: 10em;
}
div.r3c1sub2 {
  width: 400px;
  border: 1px solid black;
  height: 10em;
}
div.row3col2 {
  width: 200px;
  border: 1px solid black;
  height: 35em;
  float: left;
}
div.r3c2sub1 {
  width: 200px;
  height: 11.6666em;
  border: 1px solid black;
  float: left;
}
div.r3c2sub2 {
  width: 200px;
  height: 11.6666em;
  border: 1px solid black;
  float: left;
}
div.r3c2sub3 {
  width: 200px;
  height: 11.6668em;
  border: 1px solid black;
  float: left;
}
