* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div#main {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid black;
  height: 50em;
  /*display: -webkit-flex;
  display: flex;*/
}
div.row1 {
  height: 10em;
  border: 1px solid black;
  width: 600px;
}
div.row2 {
  height: 30em;
  border: 1px solid black;
  width: 600px;
}
div.row2col1 {
  width: 30%;
  border: 1px solid black;
  height: 30em;
  float: left;
}
div.row2col2 {
  width: 70%;
  border: 1px solid black;
  height: 30em;
  float: left;
}
div.r2c2sub1 {
  width: 420px;
  height: 20em;
  border: 1px solid black;
}
div.r2c2sub2 {
  width: 420px;
  height: 10em;
  border: 1px solid black;
}
div.row3 {
  height: 10em;
  border: 1px solid black;
  width:600px;
}
